<!doctype html>
<html id="main">

<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="container p-4 mb-3 mt-5">

        <h3 class="text-primary text-center">
            Alerts
        </h3>

        <div id="get-alerts" class="container p-4 border radious">

        </div>
        <button class="btn btn-primary btn-block mt-2" onclick="getAlerts(event)">
            get alerts
        </button>
    </div>


    <script>

        function getAlerts(event) {
            window.api.send("get_alerts", null);
        }

        window.api.receive("receive_alerts", (alerts) => {
            debugger
            let element = document.getElementById("get-alerts");
            let fullTemplate = "";
            let template;

            for (var i = 0; i < alerts.length; i++) {
                fullTemplate += `
                <div class="container p-2 row border radious">
                    <div class="col-12"><strong>Date: </strong> ${alerts[i].date}</div>
                    <div class="col-12"><strong>Registered temperature: </strong> ${alerts[i].registeredTemperature}</div>
                    <div class="col-12"><strong>Manager: </strong> ${alerts[i].manager}</div>
                </div>
                `;
            }
            element.innerHTML = "";
            element.innerHTML += fullTemplate;
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>